
header .home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1)), url(../assets/background.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav .menu a:first-child{
  color: #00b894;
}
/*
body{
  display: flex;
} */

main{
  width: 100vw;
  height:85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


section h3{
  font-size: 35px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1{
  margin: 30px 0 20px 0;
  font-family: 'Sansita Swashed', cursive;
  font-size: 35px;
  font-weight: 850;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p{
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a{
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  transition: all 0.5s ease;
}

section .btnone{
  background: #00b894;
  color: white;
}

section .btnone:hover{
  background: white;
  color: black;
}

section .btntwo{
  background: white;
  color: black;
}

section .btntwo:hover{
  background: #00b894;
  color:white;
}

.change_content:after{
  content: '';
  animation: changetext 8s infinite linear;
  color: #00b894;
}

@keyframes changetext{
  0%{content:"Events";}
  20%{content:"Euphoria";}
  40%{content:"Pronites";}
  60%{content:"Speeches";}
  80%{content:"Dramatics";}
  100%{content:"Dramatics";}
}

#timer{
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  color: white;
}

section .part2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 10vh;
  padding-left: 10vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1)), url(../assets/part2.jpg);
  height: 100vh;
  width: 100%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

section .part3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 10vh;
  padding-left: 10vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1)), url(../assets/part3.jpg);
  height: 100vh;
  width: 100%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
